{% assign type = include.block.type %}
{% assign half = include.block.half %}
{% assign image = include.block.image %}
{% assign heading = include.block.heading %}
{% assign buttons = include.block.buttons %}
{% assign block_data = site.data.blocks | where: "type", type | first  %}
{% assign blocks = block_data | map: "type" %}

<div class="Rebellion-Block{% if half == true %} half{% endif %}{% if include.size == 'full' %} full{% endif %}">

    <div class="{{type}} panel {% if half == true %}half{% endif %}"{% if image and image != '' %} style="background-image:url('{{ image | relative_url }}')"{% endif %}>
      <div class="background" {% if include.block.heading_background == true %}style="opacity:0.5;"{% elsif type=='image' %}style="opacity:0;"{% endif %}>
        {% if blocks contains type %}
          {% include {{ block_data.include }} %}
        {% endif %}
      </div>
      {% if heading and heading != '' %}
        <div class="heading" id="{{ heading | url_encode | downcase }}">
          <h1>{{ heading }}</h1>
        </div>
      {% endif %}
    </div>

  {% if half == true %}
    <div class="text half">
      <div class="content">
        {{ include.block.text | markdownify | liquify }}
      {% for button in buttons %}
        {% if forloop.first %}<div class="Rebellion-Flex-Line">{% endif %}
          <a href="{{ button.target }}"><span class="Rebellion-Button">{{button.text}}</span></a>
        {% if forloop.last  %}</div>{% endif %}
      {% endfor %}
      </div>
    </div>
  {% endif %}

</div>
