---
fonts:
- name: FucXed
  source:
    - url: ../fonts/fucxedcaps-v2-webfont.woff2
      format: woff2
    - url: ../fonts/fucxedcaps-v2-webfont.woff
      format: woff
- name: Stencilia-A
  source:
    - url: ../fonts/Stencilia-A.ttf
      format: truetype
- name: Stencilia-Bold
  source:
    - url: ../fonts/Stencilia-Bold.ttf
      format: truetype
- name: ReggaeOne
  source:
    - url: ../fonts/ReggaeOne-Regular.ttf
      format: truetype
- name: SairaStencilOne
  source:
    - url: ../fonts/SairaStencilOne-Regular.ttf
      format: truetype
- name: MajorMonoDisplay
  source:
    - url: ../fonts/MajorMonoDisplay-Regular.ttf
      format: truetype
- name: Raleway
  source:
    - url: ../fonts/Raleway-VariableFont_wght.ttf
      format: truetype
- name: Raleway-Bold
  source:
    - url: ../fonts/Raleway-ExtraBold.ttf
      format: truetype
---


$xr-green:      #21a73d !default;
$xr-yellow:      #ffc113 !default;
$xr-light-blue:      #71d0f1 !default;
$xr-pink:      #ed9bc4 !default;
$xr-purple:      #986297 !default;
$xr-dark-blue:      #3f61b6 !default;
$xr-light-green:      #a1da68 !default;
$xr-pastel-yellow:      #f3f35b !default;

// Other colours
$black-color:       #111 !default;
$white-color:       #fdfdfd !default;
$shadow-color:     #222;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;


$text-color:       $black-color !default;


{% if site.invert_brand_text %}
    $brand-text-color: $white-color !default;
    $brand-text-color-invert: $black-color !default;
{% else %}
    $brand-text-color: $black-color !default;
    $brand-text-color-invert: $white-color !default;
{% endif %}

{% if site.invert_accent_text %}
    $accent-text-color: $white-color !default;
{% else %}
    $accent-text-color: $black-color !default;
{% endif %}
$text-color-light: lighten($text-color, 18%);
$background-color: $white-color !default;
$brand-color:       {{ site.brand_color | default: "$xr-green" }} !default;
$accent-color:      {{ site.accent_color | default: "$xr-yellow" }} !default;
$accent-color-dark: darken($accent-color, 15%) !default;

$on-tiny:          {{ site.theme_tiny | default: 250 }}px !default;
$on-small:         {{ site.theme_small | default: 425 }}px !default;
$on-medium:        {{ site.theme_medium | default: 850 }}px !default;
$on-large:         {{ site.theme_large | default: 1300 }}px !default;

// Define defaults for each variable.

// Fonts


{% assign bold_font_name = site.bold_font | default: "FucXed" %}
{% assign bold_font = page.fonts | where: "name", bold_font_name | first %}
@font-face{
    font-family:{{bold_font.name}};
    font-style:normal;
    font-weight:normal;
    src: {% for source in bold_font.source %}url("{{ source.url }}") format("{{ source.format }}"){% unless forloop.last %},{% endunless %}{% endfor %};
    font-display: swap
}

{% assign font = page.fonts | where: "name", site.font | first %}
{% if font %}
@font-face{
    font-family:{{font.name}};
    font-style:normal;
    font-weight:normal;
    src: {% for source in font.source %}url("{{ source.url }}") format("{{ source.format }}"){% unless forloop.last %},{% endunless %}{% endfor %};
    font-display: swap
}
{% endif %}

// Fonts
$base-font-stack: "{{ font.name }}","Crimson Text", serif !default;
$base-font-size:   16pt !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;
$header-font-stack: "{{bold_font.name}}","Helvetica Neue",Helvetica,Arial,sans-serif;
$small-font-size:  $base-font-size * 0.875 !default;
$smaller-font-size:  $base-font-size * 0.7 !default;

@import "rebellion";
