{% comment %}

    page.story.content.body: [
        {
            show_in_contents: boolean,
            anchor: string,
            contents_title: string,
            [...] other properties
        }]
{% endcomment %}
{{blok._editable}}
<div class="Rebellion-Section Rebellion-Contents">
    <div class="Rebellion-Wrapper-Wide">
        <h2>{{ page.title }}</h2>
        {% if page.story.content.body %}
            <ol>
                {% for page_blok in page.story.content.body %}
                    {% if page_blok.show_in_contents %}
                        <li><a href="#{{ page_blok.anchor }}">{{ page_blok.contents_title }}</a></li>
                    {% endif %} 
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</div>