{% comment %}

    blok {
        title: string,
        show_title: boolean,
        boxes: [
            {
                title: string,
                text: string,
                link: {
                    url: string
                }
                button_text: string
            }]
    }

{% endcomment %}
{{blok._editable}}
<div class="Rebellion-Section">
    {% if blok.anchor %}
        <a id="{{ blok.anchor }}"></a>
    {% endif %}
    {% if blok.show_title %}
        <h1>{{ blok.title }}</h1>
    {% endif %}
    <div class="Rebellion-Floating-Boxes">
        {% for box in blok.boxes %}
        <div class="Rebellion-Floating-Box">
            <h2>{{ box.title }}</h2>
                <p>{{ box.text }}</p>
                {% unless box.hide_link %}
                    <div class="at-bottom"><div class="Rebellion-Flex-Line"><a href="{{ box.link.url }}"><span class="Rebellion-Button">{{ box.button_text }}</span></a></div></div>
                {% endunless %}
            </div>
        {% endfor %}
    </div>
</div>
