{% comment %}

    blok {
        image: string,
        image_side: "right" || "left"
        body: [
            {
                component: string
                [...] other properties
            }]
        color: color string
        invert_text_color: boolean
        anchor: string
    }

{% endcomment %}
{{blok._editable}}
<div class="Rebellion-Halves image-{{blok.image_side}}">
    {% if blok.anchor %}
        <a id="{{ blok.anchor }}"></a>
    {% endif %}
    {% if blok.change_background_color && blok.color %}
        <div class="half{% if blok.invert_text_color == true %} invert-text{% endif %}" style="background-color:{{ blok.color.color }};">
    {% else %}
        <div class="half">
    {% endif %}

        {% for blok in blok.body %}
            {% include component.html blok=blok %}
        {% endfor %}
    </div>
    <div class="half half-image" style="background-image: url('{{ blok.image }}')"></div>
</div>
