---
layout: default
---

{{ content }}

<div class="Rebellion-Section">
    <div class="Rebellion-Wrapper-Wide">
        <a href="{{ page.previous.url }}">&lt; {{ page.previous.date }}</a>
        <a href="{{ page.next.url }}" style="float: right;"> {{ page.next.date }} &gt;</a>
    </div>

    <div class="Rebellion-Post-Info">
        {% if page.authors %}
        <div class="box">
            {% if page.authors.size == 1 %}
            <h3>Author</h3>
            {% else %}
            <h3>Authors</h3>
            {% endif %}
            <ul class="authors">
                {% for author in page.authors %}
                    {% if author.image %}
                        <img src="{{ story.content.image }}" />
                    {% endif %}
                    {% if author.url %}
                        <li><a href="/{{ author.url }}" rel="author">{{ author.name }}</a></li>
                    {% else %}
                        <li>{{ author.name }}</li>
                    {%endif%}
                    {% if author.bio %}
                        {{ author.bio }}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if page.categories %}
        <div class="box">
            <h3>Tags</h3>
            <ul class="tags">
                {% for tag in page.categories %}
                    <li><a href="/categories/{{ tag }}/">{{ tag }}</a></li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}

        <div class="box">
            <h3>Published</h3>
            <p>Published: {{ page.date }}</p>
            {% if page.last_updaed %}
                <p>Updated: {{ page.last_updaed }}</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>